---
import { Frontmatter } from "src/misc";
import BaseLayout from "./BaseLayout.astro";

export interface Props {
  content: Frontmatter;
}

const { content } = Astro.props as Props;
const { title, image, imageDescription, description } = content;
const date = new Date(content.date);
---

<BaseLayout title={title} description={description}>
  <h1
    class="text-3xl md:text-5xl 2xl:text-6xl mb-[0.8em] font-extrabold mx-auto w-fit"
  >
    {title}
  </h1>

  {
    image ? (
      <Fragment>
        <img class=" mx-auto" src={image} alt={imageDescription ?? title} />
      </Fragment>
    ) : null
  }

  <div class="flex flex-wrap justify-evenly mb-9 mt-2">
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 inline"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
      </svg>
      <time datetime={date.toISOString()}
        >{
          date.toLocaleDateString("en-uk", {
            day: "numeric",
            month: "long",
            year: "numeric",
          })
        }</time
      >
    </div>
  </div>

  <div class="prose md:prose-lg 2xl:prose-xl px-4 mx-auto prose-pre:font-mono">
    <div class="flex items-center justify-center py-4 md:py-8 flex-wrap">
      <a
        href="/artists/"
        class="text-blue-700 hover:text-white border border-blue-600 bg-white hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:bg-gray-900 dark:focus:ring-blue-800 no-underline"
        >All Work</a
      >
      <a
        href="/artists/moyin/"
        class="text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:text-white dark:focus:ring-gray-800 no-underline"
        >Moyin</a
      >
      <a
        href="/artists/indya/"
        class="text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:text-white dark:focus:ring-gray-800 no-underline"
        >Indya</a
      >
      <a
        href="/artists/sunmi/"
        class="text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:text-white dark:focus:ring-gray-800 no-underline"
        >Sunmi</a
      >
      <a
        href="/artists/edward/"
        class="text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:text-white dark:focus:ring-gray-800 no-underline"
        >Edward</a
      >
    </div>
    <slot />
  </div>
</BaseLayout>
